### Lists

In [1]:
#1) Ստեղծեք a list-ը, որը պարունակում է հետևյալ արժեքները՝ 1, 4, 5, 7, 8, -2, 0, -1
#2) Տպեք list-ի 3րդ ու 5րդ անդամների արժեքները
a = [1, 4, 5, 7, 8, -2, 0, -1]
print(a[2])
print(a[4])

5
8

In [2]:
#3) Սորտավորեք a list-ը նվազման կարգով և նոր ստացած սորտավորված list-ը
#վերագրեք a_sorted փոփոխականին (Այս գործողության ընթացքում չպետք է փոխվի
#սկզբնական a list-ը)
sorted(a, reverse = True)

[8, 7, 5, 4, 1, 0, -1, -2]

In [3]:
a_sorted = sorted(a, reverse = True)
print(a)

[1, 4, 5, 7, 8, -2, 0, -1]

In [4]:
#4) Իրար տակ տպեք a_sorted list-ի 1...3 և 2...6 անդամները պարունակող sublist-երը
print(a_sorted[:2])
print(a_sorted[1:6])

[8, 7]
[7, 5, 4, 1, 0]

In [5]:
#5) Տպեք a_sorted list-ի 5 արժեքով անդամի index-ը՝ օգտագործելով համապատասխան ֆունկցիա։
print(a_sorted.index(5))

2

In [6]:
#6) a_sorted list-ից ջնջեք 2 և 3 index-ով անդամները
print(a_sorted)

[8, 7, 5, 4, 1, 0, -1, -2]

In [7]:
del a_sorted[2:4]

In [9]:
#7) Տպեք a_sorted list-ը
print(a_sorted)

[8, 7, 1, 0, -1, -2]

In [10]:
#8) Ստեղծեք b list-ը, որը պարունակում է հետևյալ արժեքները՝ “grapes”, “Potatoes”,
#“tomatoes”, “Orange”, “Lemon”, “Broccoli”,“Carrot”, “Sausages”
b = ["grapes", "Potatoes", "tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]
print(b)

['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [13]:
#9) Սորտավորեք b list-ը աճման կարգով և նոր ստացած սորտավորված list-ը
#վերագրեք b_sorted փոփոխականին (Այս գործողության ընթացքում չպետք է փոխվի սկզբնական b list-ը)
sorted(b, reverse = False)

['Broccoli',
 'Carrot',
 'Lemon',
 'Orange',
 'Potatoes',
 'Sausages',
 'grapes',
 'tomatoes']

In [14]:
b_sorted = sorted(b, reverse = False)
print(b)

['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [16]:
#10) Ստեղծեք նոր c list, որի առաջին անդամներն են a list-ի 1...3 անդամները, որոնց
#հաջորդում են b list-ի 4...6 անդամները
c = a[:3] + b[3:6]
#11) Տպեք ստացված с list-ը
print(c)

[1, 4, 5, 'Orange', 'Lemon', 'Broccoli']

### Sets

In [17]:
#1) Ստեղծեք a1 list-ը, որը պարունակում է հետևյալ արժեքները՝ “Cookies”, “Chocolate”,
# 8, True, -3, -5, ”Chocolate”, 8, False, 8
a1 = ["Cookies", "Chocolate", 8, True, -3, -5, "Chocolate", 8, False, 8]
print(a1)

['Cookies', 'Chocolate', 8, True, -3, -5, 'Chocolate', 8, False, 8]

In [18]:
#2) Ստեղծեք b1 list-ը, որը պարունակում է հետևյալ արժեքները՝ 8, True, 10, 14,
#“Chocolate”, “Milk”, ”Jelly”, True, False, True
b1 = [8, True, 10, 14, "Chocolate", "Milk", "Jelly", True, False, True]
print(b1)

[8, True, 10, 14, 'Chocolate', 'Milk', 'Jelly', True, False, True]

In [19]:
#3) Դարձրեք (convert) a1 list-ը set ու պահեք set_a փոփոխականի մեջ
set_a = set(a1)
print(set_a)

{False, True, 'Cookies', 8, 'Chocolate', -5, -3}

In [20]:
#4) Դարձրեք (convert) b1 list-ը set ու պահեք set_b փոփոխականի մեջ
set_b = set(b1)
print(set_b)

{False, True, 8, 10, 14, 'Milk', 'Chocolate', 'Jelly'}

In [21]:
#5) Գտեք set_a -ի ու set_b -ի միավորումը (union) ու պահեք union_ab փոփոխականի մեջ
union_ab = set_a.union(set_b)
print(union_ab)

{False, True, 'Cookies', 8, 10, 14, 'Milk', 'Chocolate', -5, 'Jelly', -3}

In [22]:
#6) Գտեք set_a -ի ու set_b -ի հատումը (intersection) ու պահեք intersection_ab փոփոխականի մեջ
intersection_ab = set_a.intersection(set_b)
print(intersection_ab)

{False, True, 'Chocolate', 8}

In [23]:
#7) Ավելացրեք “Kit-Kat” ու “Oreo” արժեքները union_ab set-ին ու տպեք union_ab set-ը
union_ab.update({"Kit-Kat", "Oreo"})
print(union_ab)

{False, True, 'Oreo', 'Cookies', 8, 10, 14, 'Milk', 'Chocolate', 'Kit-Kat', -5, 'Jelly', -3}

In [24]:
#8) Կիրառեք or գործողությունը union_ab ու intersection_ab set-երի միջև ու արդյունքը
#պահեք new_set փոփոխականի մեջ, այնուհետև տպեք new_set փոփոխականը
new_set = union_ab or intersection_ab
print(new_set)

{False, True, 'Oreo', 'Cookies', 8, 10, 14, 'Milk', 'Chocolate', 'Kit-Kat', -5, 'Jelly', -3}

In [25]:
#9) Ստուգեք, թե արդյոք new_set set-ը պարունակում է “Chocolate” արժեքը
"Chocolate" in new_set

True

In [26]:
#10 Ջնջեք “Oreo” արժեքը new_set set-ից, այնուհետև տպեք new_set set-ը
new_set.discard("Oreo")
print(new_set)

{False, True, 'Cookies', 8, 10, 14, 'Milk', 'Chocolate', 'Kit-Kat', -5, 'Jelly', -3}

### Tuples

In [27]:
#1) Ստեղծեք t1 tuple-ը, որը պարունակում է հետևյալ արժեքները՝ 1, True, “a”, -2, “Anna”
t1 = 1, True, "a", -2, "Anna"
type(t1)

tuple

In [29]:
#2) t1 tuple-ից ջնջեք “True” արժեքը, այնուհետև տպեք t1 tuple-ը
del t1("True")
print(t1)

SyntaxError: can't delete function call (<ipython-input-29-b182b8e3b99a>, line 2)

In [30]:
#3) Ստեղծեք t2 tuple-ը, որը պարունակում է հետևյալ արժեքները՝ 1, 2, 3, 4, 5
t2 = 1, 2, 3, 4, 5
type(t2)

tuple

In [31]:
#4) Ստեղծեք t3 tuple-ը, որի առաջին 2 անդամները t1 tuple առաջին 2 անդամներն են,
#իսկ հաջորդ 3 անդամները t2 tuple-ի առաջին 3 անդամները
t3 = t1[:2] + t2[:3]
print(t3)

(1, True, 1, 2, 3)

In [32]:
#5) Տպեք t3 tuple-ի 2 index-ով անդամը
print(t3.index(2))

3

In [33]:
#6) Ստեղծեք t4 tuple-ների list-ը հետևյալ արժեքով՝ [(1,3,5), (8,9), (“Anna”, “Bob”,
#“Alice”)] ։ Տպեք t4 -ի առաջին անդամի երկրորդ անդամը
t4 = [(1, 3, 5), (8, 9), ("Anna", "Bob", "Alice")]
print(t4[0][1])

3